<p>students works!</p>
<!-- <app-message></app-message>

<div>
    <table>
        <thead>
            <td>Prénom</td>
            <td>Nom</td>
            <td>Téléphone</td>
            <td>Courriel</td>
            <td>Adresse</td>
            <td>Ville</td>
            <td>État</td>
            <td>Code postal</td>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers">
                <td>{{customer.FirstName}}</td>
                <td>{{customer.LastName}}</td>
                <td>{{customer.Phone}}</td>
                <td>{{customer.Email}}</td>
                <td>{{customer.Street}}</td>
                <td>{{customer.City}}</td>
                <td>{{customer.State}}</td>
                <td>{{customer.ZipCode}}</td>
            </tr>
        </tbody>
    </table>
</div> -->


<!-- <div id="gridCustomers">

    <table mat-table [dataSource]="gridCustomers">

        <ng-container matColumnDef="firstName">
            <td *matCellDef="let customer" class="gridColumnFirstName">{{customer.FirstName}}</td>
        </ng-container>
    
        <ng-container matColumnDef="lastName">
            <td *matCellDef="let customer" class="gridColumnLastName">{{customer.LastName}}</td>
        </ng-container>

        <ng-container matColumnDef="phone">
            <td *matCellDef="let customer" class="gridColumnPhone">{{customer.Phone}}</td>
        </ng-container>        

        <ng-container matColumnDef="email">
            <td *matCellDef="let customer" class="gridColumnEmail">{{customer.Email}}</td>
        </ng-container>            
        
        <mat-row *matRowDef="let row; columns: displayedColumns" (click)="this.onRowClicked(row)"></mat-row>    
    
    </table>

</div> -->

